<!DOCTYPE html>
<html>   
    <style>
        table, th , td  {
            border: 1px solid grey;
            border-collapse: collapse;
            padding: 5px;
        }
        table tr:nth-child(odd) {
            background-color: #f1f1f1;
        }
        table tr:nth-child(even) {
            background-color: #ffffff;
        }
    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <body>
        
        <div ng-app="mainApp", ng-controller="mainCtrl">
            <h1>
                Budgeteering
            </h1>
            <p>
                Welcome new user:
            </p>
            
            <p>
                Food Name : <input type="text" ng-model="name" placeholder="Enter name here">
                Price : <input type="number" ng-model="price" placeholder="Enter price here">
                Quantity : <input type="number" ng-model="quantity" placeholder="Enter quantity here">
            </p>
            <button ng-click="AddItem(name,price,quantity)">Add This item</button>
            <table>
                <tr>
                    <td></td>
                    <td>Item Name</td>
                    <td>Price ($)</td>
                    <td>Quantity</td>
                    <td>Total Price ($)</td>
                </tr>
                <tr ng-repeat="x in items">
                    <td>{{ $index + 1 }}</td>
                    <td>{{ x.name }}</td>
                    <td>{{ x.price }}</td>
                    <td>{{ x.quantity }}</td>
                    <td>${{ x.price * x.quantity }}</td>
                </tr>	
            </table>
            <h1>
                Total price of {{name}} will be ${{price * quantity}}.
            </h1>
        </div>
    </body>
    <script>
        var app = angular.module('mainApp', []);
        //todo
        app.controller('mainCtrl', function($scope){
            /*
            //implement sql server to store and get data
            $http.get("jrapsins")
            .then(function (response) {
                $scope.items = response.data.records;
            });
            $scope.AddItem = function() {
                var data = $.param({
                    Item: JSON.stringify({
                        Name: $scope.name,
                        Price: $scope.price,
                        Quantity: $scope.quantity
                    })
                });
                $http.post("/Budgeteering/", data).success(function(data, status) {
                    console.log('Data posted successfully');
                })
            };
            */
        });
    </script>
</html>
